body {
  margin: 0px;
  background-color: #cecece;
}

* {
  font-family: monospace, 'Courier New', Courier, monospace;
}

.container {
  margin: 0 auto;
  padding: 1% 10%;
}

#system_info_table {
  padding: 10px;
}

#package_table,
#system_info {
  flex: 1;
  margin: 10px;
  align-self: flex-start;
}

.package_container {
  display: flex;
}

#package_list_table_content {
  height: 60vh;
  padding: 10px;
  overflow: auto;
}

table {
  width: 100%;
  font-size: 0.8rem;
  font-family: arial, sans-serif;
  border-spacing: 0 7px;
  text-align: left;
  margin: 0px;
}

td {
  background-color: #efefef;
  border-radius: 5px 0 0 5px;
  padding: 10px;
}

th {
  padding: 0 10px;
}

td:nth-child(2) {
  border-radius: 0 5px 5px 0;
}

.package {
  font-size: 1em;
  padding: 10px;
  background-color: #ffffff;
}

#package_detail {
  flex: 1;
  text-align: left;
  margin: 10px;
  font-weight: 500;
}

.package > p,
h2 {
  padding: 0;
  margin: 5px auto;
}

pre {
  margin: 0px;
  padding: 0px;
  white-space: pre-line;
  font-size: inherit;
  color: inherit;
  border: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.curved {
  border-radius: 5px;
}

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(209, 209, 209, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(209, 209, 209, 1);
  box-shadow: 0px 0px 5px 1px rgba(209, 209, 209, 1);
}

.title {
  padding: 20px;
  font-size: 19px;
  font-weight: 800;
  background-color: #5987a6;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
}
